body {
    margin: 0;
    padding: 0;
    /*font-family: 'Alegreya Sans', sans-serif;*/
    font-family: 'Lato', sans-serif;
    border-top: 2px solid #ecf0f1;
    color: #564B4B;
}


h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

/* clearfix hack */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* End of clearfix hack */

/* label */

.label {
    border-radius: 5px;
    padding: 10px;
    color: #FFF;

}

.label-primary {
    background: #211705;
}

.label-warning {
    background: #DC9311;

}


/*end of label */









.container {
    width: 95%;
    max-width: 1000px;
    overflow: hidden;
    margin: 10px auto;
}

.pull-left {
    float: left;
}







.main-card .profile-img {
    border-radius: 50%;
    border: 2px solid #ecf0f1;
}

.main-card .card-info .fullname {
    margin-top: 0;
}

.main-card .card-info .fullname,
.main-card .card-info .position-title,
.main-card .card-info .location-text

{
    margin: 10px 0;
    font-weight: 100;
}


.main-card .card-info .position-title {
    font-weight: bold;
}


.main-card {
    margin: 0 auto;
    width: 30%;
    margin-top: 5%;
    text-align: center;
}


.main-card .card-info {
   margin: 0 20px 0;
   font-weight: normal; 
}



.section {
    width: 70%;
    margin: 0 auto;
}



/* About Section*/

.section .section-title {
    padding-bottom: 10px;
    border-bottom: 2px solid #ecf0f1;
    text-transform: uppercase;
    color: #EA983B;
}

.section .section-p {
    padding: 10px;
    font-weight: 100;
    line-height: 1.5em;
    font-weight: 500;
}




/* End of About Section*/


/* Job History Section */

.history-card {
    padding: 10px;
    margin: 10px;
    margin-bottom: 25px;
    border-left: 3px solid #ecf0f1;
}



.history-card h3,
.history-card h4,
.history-card h5 {
    font-weight: 100;
    color: #000;
    text-transform: capitalize;
}


.job-title a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: #9A5B2E;
}
.job-time-range {
    /*text-decoration: underline;*/
}

.skills-list {
    list-style: none;
    padding-left: 0;
}

.skills-list li {
    display: inline;
    padding: 5px;
    color: #DC9311;
    border: 2px solid #DC9311;
    background: #FFF;
    border-radius: 5px;
}


/* End of Job History Section */

















