* {
  box-sizing: border-box;

}


body {
    margin: 0;
    padding: 0;
    font-family: Avenir-Medium;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0.09px;
    line-height: 29px;
    color: #564B4B;
}


h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

.container {
  max-width: 1000px;
  overflow: hidden;
  margin: 0 auto;
}

.about-me-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.col-4 {
  width: 30%;
  font-size: 15px;
  font-weight: 300;
  color: #777;
  line-height: 1.7;
}

.unselectable {
 -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */

/* Opera < 12.1 */



ul {
  margin: 0;
  padding: 0;
}

a {
    color: #e4c1a1;
    -webkit-font-smoothing: antialiased;
}

/* clearfix hack */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* End of clearfix hack */

header {
  height: 100vh;
  position: relative;
}

/* Blink Animation */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* End of Blink Animation */


.underlined {
  border-bottom: 3px solid #fff;
}

.background-img {
  width: 100%;
  height: 100vh;
  background: url('../img/bg.jpg') no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.heading  {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  color: #FFF;
  font-weight: normal;

  font-family: Avenir-Medium;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 0.18px;
  line-height: 40px;
  text-align: center;

}

/* Nav Section */

.nav {
  width: 50%;
}

@media screen and (max-width: 1060px) {
  .nav {
    width: 65%;
  }
}

@media screen and (max-width: 810px) {
  .nav {
    width: 100%;
  }
}

@media screen and (max-width: 530px) {
  .nav .nav-list li {
    margin: 0 !important;
    margin-top: 20px !important;
    padding: 5px 10px !important;
  }
}

.nav .nav-list {
  list-style: none;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .nav-list li {
  list-style: none;
  text-transform: uppercase;
  font-family: Avenir-Medium, sans-serif;
  margin: 20px;
  padding: 10px 15px;
}

.nav .nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.09px;
  line-height: 29px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  padding: 5px;
}

.nav .nav-list li a:hover {
  border-bottom: 2px solid white;
}

/* Btn Section */
.btn {
  border: 2px solid #FFF !important;
  padding: 15px 25px !important;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.btn:hover {
  background: white;
  color: #3B3B3B !important;
  /*opacity: 0.8;*/
}

/* See My Work Btn */

.see-work-btn {
  position: absolute;
  bottom: 15px;
  color: #FF9800;
  text-decoration: none;
  border: 2px solid #FF9800 !important;
  left: 12%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-weight: bold;
  text-transform: uppercase;
}
.see-work-btn:hover {
  background: #FF9800 !important;
}

/* My Work Section */

.my-work-section {
  padding: 20px 0 50px;
  font-size: 22px;
  font-weight: bold;
  background: #F7F7F7;
}

.work-section-heading {
    padding: 50px 0 20px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    width: 30%;
    margin-bottom: 50px;
}

.work-card-section {
  text-align: center;
  /*display: flex;
  flex-wrap: wrap;
  justify-content: center;*/
}

.work-card {
  position: relative;
  padding: 48px;
  display: inline-block;
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;

}

.work-card:hover .work-desc,
.work-card:focus .work-desc {
  opacity: 1;
}

.work-card .work-desc {
  font-size: 23px;
  position: absolute;
  color: #000;
  /* opacity: 0; */
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFF;
  opacity: 0.65;

}

.work-position {
  font-size: 22px;
  font-weight: 200;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
}

.work-card:hover .work-position {
  font-size: 25px;
  opacity: 1;

}


.work-card-img {
  width: 400px;
  height: 222px;
}

.footer {
  height: 400px;
  background: #FBFBFB;
  font-family: "Open Sans", arial, sans-serif;

}

.footer .about-me-wrapper {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  font-weight: lighter;
  text-align: center;
}

.footer .about-me-wrapper .info {
  padding: 30px;
  font-size: 18px;
  letter-spacing: 1px;
}

.footer .about-me-wrapper .title {
  padding: 40px 0 40px;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
}

.profile-img {
  border-radius: 50%;
  width: 120px;
  border: 2px solid #F1F1F1;
  padding: 5px;
}

.footer .info-section {
  color: #777;
}

.contact-section {
  margin: 0 auto;
  text-align: center;
  /*height: 120px;*/
  background: #F5F5F5;
  padding: 50px 0 30px;
}

.contacts {
  width: 30%;
  margin: 0 auto;
  padding-top: 40px;
}

.btn-contact {
  color: #FF9800;
  border: 2px solid #FF9800 !important;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-contact:hover {
  background: #FF9800;
  color: #fff !important;
}

.contact-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;

}

.contact-list a {
  color: #9C9C9C;
  text-decoration: none;
  font-family: Avenir-Medium;
  text-transform: uppercase;
}

@media screen and (max-width: 980px) {

  .footer .about-me-wrapper {
    width: 70%;
  }

  .contacts {
    width: 55%;
  }



}


@media screen and (max-width: 800px) {
  .btn.see-work-btn {
    left: 50%;
  }
}

@media screen and (max-width: 540px) {

  .work-card-img {
    width: 282px;
    height: 150px;
  }

  .footer .about-me-wrapper {
    width: 90%;
  }

  .footer .about-me-wrapper .info {
    padding: 0;
  }

  .contacts {
    width: 90%;
  }

  .nav .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }

 .nav .nav-list li a {
   color: #FF9800;
 }

 .nav .nav-list li a:hover {
   border-bottom: 2px solid #FF9800;
 }

 .btn-primary {
   border: 2px solid #FF9800 !important;
 }
 .btn-primary:hover {
   background: #FF9800 !important;
 }


  .heading {
    font-size: 25px;
    text-align: center;
  }

}
